/* style body by adding background image and set it to cover, add font family */
body {
  font-family: Arvo, serif;
  background: url(https://images.unsplash.com/photo-1509773896068-7fd415d91e2e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* style brand */

/* style navigation bar */

/* style jumbotron */

/* limit the width of the icons section */

/* style icon section using bootstrap grid system */

/* style contact button */

/* style footer */

/* use media queries to change icons size in small devices */
